{% extends "dashboard/dashboard.html" %}
{% load static %}

{% block window_title %}Dashboard - Bucket Lists{% endblock window_title %}
{% block view_title %}My Bucket Lists{% endblock view_title %}</h3>

{% block page %}
	<!-- Add New button -->
	<div class="fixed-action-btn click-to-toggle tooltipped" data-position="left" data-tooltip="Add New" >
    <button data-target="new-bucketlist-modal" class="btn-floating btn-large waves-effect waves-light modal-trigger">
    	<i class="material-icons">add</i>
    </button>
  </div>

  {% if bucketlists|length %}
    <ul class="thumb-list">
      {% for bucketlist in bucketlists %}
        {% include "dashboard/snippet_bucketlist_thumb.html" with bucketlist=bucketlist %}
      {% endfor %}
    </ul>
  {% else %}
  <!-- empty prompt -->
  <div class="container valign-wrapper empty-prompt">
    <div>
      <h5 class="valign">You currently have no bucket lists.</h5>
      <h5> Use the '+' button below to create a new bucket list.</h5>
    </div>
  </div>
	{% endif %}

{% endblock page %}

{% block modals %}
	{% include "dashboard/modal_new_bucketlist.html" with form=bucketlist_form %}
{% endblock modals %}
