{% extends "dashboard/dashboard.html" %}
{% load static %}

{% block window_title %}Dashboard - Bucket Lists{% endblock window_title %}
{% block view_title %}My Bucket Lists{% endblock view_title %}</h3>

{% block page %}
	<!-- Add New button -->
	<div class="fixed-action-btn click-to-toggle tooltipped" data-position="left" data-tooltip="Add New" >
    <a class="btn-floating btn-large waves-effect waves-light" href="{% url 'dashboard:bucketlist_create'%}">
    	<i class="large material-icons">add</i>
    </a>
  </div>

  <!-- Toasts -->
  <div class="toast hide">
    {% if messages %}
      {% for message in messages %}
      {{ message }}&nbsp;
      {% endfor %}
    {% endif %}
  </div>

  <div class="content">
    {% if bucketlists|length %}
      <!-- thumbnail list -->
      <ul class="thumb-list packery-grid">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {% for bucketlist in bucketlists %}
          {% include "dashboard/snippet_bucketlist_thumb.html" with bucketlist=bucketlist %}
        {% endfor %}
      </ul>

    {% else %}
    <!-- empty prompt -->
    <div class="container valign-wrapper empty-prompt">
      <div>
        <h5 class="valign">You currently have no bucket lists.</h5>
        <h5> Use the '+' button below to create a new bucket list.</h5>
      </div>
    </div>
  	{% endif %}
  </div>

{% endblock page %}

{% block modals %}
	{# include modals here #}
{% endblock modals %}
