
<li class="bucketlist-thumb">
  
  <div class="row card-panel info">
    <div class="col s1">
      <div>
        {% if item.done %}
          <i class="material-icons">&#xE876;</i><!-- done -->
        {% else %}
          <i class="material-icons">&#xE061;</i><!-- fibre_manual_record -->
        {% endif %}
      </div>
    </div>
    <div class="col s10">
      <h4 class="name">{{ item.name|capfirst }}</h4>
      <p class="description">{{ item.description|capfirst }}</p>
    </div>
  </div>

  <div class="fixed-action-btn horizontal click-to-toggle">

    <a class="btn-floating btn more-btn">
      <i class="material-icons">&#xE5D3;</i> <!-- more_horiz -->
    </a>

    <ul>

      {% if not item.done %}

      <li><form action="{% url 'dashboard:bucketlist_item_done' pk=bucketlist.pk item_pk=item.pk %}" method="POST">{% csrf_token %}
      <button type="submit" name="done" class="btn-floating tooltipped" data-position="bottom" data-tooltip="Done">
      <i class="material-icons">&#xE876;</i><!-- done -->
      </button>
      </form></li>

      {% endif %}
      
      <li><a href="{% url 'dashboard:bucketlist_item_update' pk=bucketlist.pk item_pk=item.pk %}" class="btn-floating tooltipped" data-position="bottom" data-tooltip="Edit">
      <i class="material-icons">&#xE254;</i><!-- mode_edit -->
      </a></li>
      
      <li><a href="{% url 'dashboard:bucketlist_item_delete' pk=bucketlist.pk item_pk=item.pk %}" class="btn-floating modal-trigger tooltipped" data-target="#modal-confirm-delete" data-position="bottom" data-tooltip="Delete">
      <i class="material-icons">&#xE872;</i><!-- delete -->
      </a></li>

    </ul>

  </div>  

</li>