
<li class="bucketlist-thumb grid-item card-panel hoverable">
	
	<div class="info">
		<h4 class="name"><a href="{% url 'dashboard:bucketlists' %}">{{ bucketlist.name|title }}</a></h4>
		<h6 class="stats">8 months ago - 2 of 6 items completed</h6>
		<p class="description">{{ bucketlist.description }}</p>
	</div>

	<div class="fixed-action-btn horizontal">
		<a class="btn-floating btn more-btn">
			<i class="material-icons">&#xE5D3;</i> <!-- more_horiz -->
		</a>
		<ul>
			<li><a class="btn-floating"><i class="material-icons">&#xE254;</i></a></li> <!-- mode_edit -->
			<li><a class="btn-floating"><i class="material-icons">&#xE872;</i></a></li> <!-- delete -->
		</ul>
	</div>


</li>