html, body, .viewport-container {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.scrollable-content {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: scroll;
  z-index: 10;
}

i.inline-icon {
  display: inline-block;
  position: relative;
  top: 5px;
}

.empty-prompt {
  height: 80%;
}

.empty-prompt > * {
  width: 100%;
  text-align: center;
}

.homepage {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #171c22;
  color: #cccdd0;
}

.homepage a {
  color: #00b285;
}

.homepage > .bg-img {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  position: absolute;
}

.homepage > .bg-img .slides li img {
  position: relative;
  -webkit-transition: -webkit-transform 13s ease-out;
          transition: transform 13s ease-out;
}

.homepage > .bg-img .slides li.active img {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.homepage > .bg-overlay {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  background-color: rgba(23, 28, 34, 0.9);
  z-index: 5;
}

.homepage .container {
  position: relative;
  min-height: 100%;
  padding: 40px 40px;
}

.homepage .page-header {
  margin-bottom: 30px;
}

.homepage .page-footer {
  position: absolute;
  bottom: 25px;
}

.homepage .hero {
  margin-top: 50px;
}

.homepage .hero li {
  opacity: 0;
}

.homepage .hero > * {
  margin: 30px 0;
}

.homepage .hero .sub-line {
  color: #00b285;
}

.homepage .hero .action-line a {
  color: #cccdd0;
}

.homepage .auth-panels {
  position: relative;
  margin-top: 15px;
  width: 100%;
  max-width: 360px;
  min-height: 430px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.homepage .auth-panels .panel {
  padding: 40px 50px;
  width: 100%;
}

.homepage .auth-panels .panel h3 {
  margin: 0 0 10px 0;
}

.homepage .auth-panels .panel .btn {
  width: 100%;
  margin-top: 30px;
}

.homepage .auth-panels .panel .auth-link {
  margin-top: 20px 0 0;
}

.dashboard {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #e8e9e9;
}

.dashboard .side-nav {
  background-color: #171c22;
}

.dashboard .side-nav .brand {
  padding-top: 10px;
}

.dashboard .side-nav li {
  background-color: transparent;
  opacity: 0;
}

.dashboard .side-nav li a {
  color: #808386;
  font-size: 1rem;
  height: 40px;
  line-height: 40px;
  -webkit-transition: color 0.5s;
          transition: color 0.5s;
}

.dashboard .side-nav li a.profile-link {
  color: #00b285;
  margin-bottom: 10px;
}

.dashboard .side-nav li:hover a, .dashboard .side-nav li.active a {
  color: #cccdd0;
}

.dashboard .side-nav li:hover a.profile-link, .dashboard .side-nav li.active a.profile-link {
  color: #00b285;
}

.dashboard .side-nav li.active a {
  pointer-events: none;
  cursor: default;
}

@media only screen and (max-width: 600px) {
  .dashboard .side-nav .brand, .dashboard .side-nav .user-options {
    padding-top: 30px;
  }
}

.dashboard .page-header {
  height: 100%;
}

.dashboard .page-header .button-collapse, .dashboard .page-header .view-title {
  padding: 0 2.5%;
  display: inline-block;
}

.dashboard .page-header, .dashboard .scrollable-content {
  padding-left: 240px;
}

@media only screen and (max-width: 992px) {
  .dashboard .page-header, .dashboard .scrollable-content {
    padding-left: 0;
  }
}

.dashboard .thumb-list-container {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.dashboard .thumb-list {
  padding: 0 15px;
  margin-bottom: 120px;
}

.dashboard .thumb-list li {
  border-radius: 10px;
  overflow: hidden;
}
