{% extends "base.html" %}
{% load static %}

{% block main %}
	<main class="homepage">
		<div class="bg-img hide-on-small-only">
			{% include "main/slideshow_snippet.html" with form=signup_form %}
		</div>
		<div class="bg-overlay"></div>
		<div class="scrollable-content">
			
			<div class="container">

				<div class="row page-header">
					<div class="col s12 m12 l12">
						<div><img src="{% static 'img/brand.png' %}"></div>
					</div>
				</div>

				<div class="row page-sections">

					<div class="col s12 m12 l7">
						<div class="hero">
							<ul id="hero-items">
								<li><h1>You Only <br class="hide-on-med-and-down">Live Once</h1></li>
								<li><h3>Get more out of life <br class="hide-on-med-and-down">with a bucket list.</h3></li>
								<li><p><a href="https://www.youtube.com/embed/noERj29pgLw?rel=0&amp;enablejsapi=1&amp;origin=http%3A%2F%2Flifeaweso.me" target="_blank"><i class="small material-icons">play_circle_outline</i> Watch the YOLO video</a></p></li>
							</ul>
						</div>
					</div>

					<div class="col s12 m12 l5">
						<div class="auth-panels right">
								{% include "main/signup_snippet.html" with form=signup_form %}
								{% include "main/signin_snippet.html" with form=signin_form %}
						</div>
					</div>

				</div> <!-- end page-sections -->

				<div class="page-footer">
					<p class="copyright left" >©{% now "Y" %} TheBucketListApp. A project by <a href="http://github.com/andela-uawili/">Awili Uzo</a> from <a href="http://andela.com">Andela</a>. #TIA</p>
				</div>

			</div><!-- end container -->

		</div><!-- end scrollable-content -->
	</main>
{% endblock main %}
